[Unit]
Description=Signature generator for openvpn with ssh keys
After=syslog.target

[Service]
ExecStart=/usr/bin/rpi-sshsign
Type=oneshot

[Install]
WantedBy=multi-user.target
